* {
    margin: 0;
}

body {
    background-color: lightyellow;
}

form {
    margin-left: 20px;
    margin-top: 20px;
}

h2 {
    text-align: center;
}
.form-check {
    margin-left: 20px;
}